<%- include("partials/header") %> <%- include("partials/nav") %>
<div class="homeMain">
  <div class="slotViewWindow">
    <div class="d-flex">
      <h1 class="headHome">Welcome to <br> Go-win INDIA</h1>
      <button class="rounded-right-0 btn-success btn">
        <a class="text-decoration-none text-light" href="/book">CENTERS</a>
      </button>
      <div class="detailsBox">
        <div class="detailsBox-top">
          <div class="detailsBox-top-left">
            <i class="ri-user-fill"></i>
          </div>
          <div class="detailsBox-top-right">
            <div class="detailsBoxNameDiv">
              <h3 class="userName"><%= user.username %></h3>
              <% if(!center) { %>
       <button class="rounded-right-0 btn-success btn">
        <a class="text-decoration-none text-light" href="/book">Book Slot</a>
      </button>
        <% } else { %>
       <button class="btn btn-danger btn-sm">
                <a class="text-decoration-none text-light" href="/cancelSlot"
                  >Cancel Slot</a
                >
              </button>
        <%}%>
              
            </div>
            <div class="detailsBoxInfoDiv">
              <div>
                <h6 class="text-success"><strong>CENTER ID</strong></h6>
                <h6 class="text-secondary"><%= center?(center.center_id):("---") %></h6>
              </div>
              <div>
                <h6 class="text-success"><strong>PIN-CODE</strong></h6>
                <h6 class="text-secondary"><%= center?(center.pincode):("---") %></h6>
              </div>
              <div>
                <h6 class="text-success"><strong>CENTER NAME</strong></h6>
                <h6 class="text-secondary"><%= center?(center.center_name):("---") %></h6>
              </div>
              <div>
                <h6 class="text-success"><strong>Email</strong></h6>
                <h6 class="text-secondary"><%= user.email %></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="detailsBox-bottom">
          <div class="slotStatusDiv w-25">
            <h6 class="text-success"><strong>SLOT STATUS</strong></h6>
            <h6><%= center?("Booked"):("---") %></h6>
          </div>
          <div class="slotDetails">
            <div>
              <h6 class="text-success"><strong>DATE & TIME</strong></h6>
              <h6><%= user.createdAt.toLocaleString()%></h6>
            </div>
            <div>
              <h6 class="text-success"><strong>DOSE</strong></h6>
              <h6>1</h6>
            </div>
            <div class="address">
              <h6 class="text-success"><strong>ADDRESS</strong></h6>
              <h6><%= center?(center.address ):("---") %></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer") %>
</div>
